node_modules/
payload/
addons/
dist/
build/icon.ico
build/icon.png
*.log
docs/nexus/
vendor/

*.obj
*.pdb
*.exp
*.cso
*.exe
*.dll
*.addon64
*.addon32
*.zip
*.rar
*.dmp
*.before
tests/*-work/
tests/*.generated.*
*_BUILD_LOG.txt
